/*---------------------------------------------ESTILOS NO DEFINITIVOS*/

.foto1{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.foto2{
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.foto3{
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*---------------------------------------------FONTS*/
$route_fonts:"../fonts/";
$circular:(
	black:$route_fonts + "circular_black.ttf",
	bold:$route_fonts + "circular_bold.ttf",
	book:$route_fonts + "circular_book.ttf",
	medium:$route_fonts + "circular_medium.ttf"
	);

@font-face{
	font-family: circular_black;
	src: url(map-get($circular, black));
} 

@font-face{
	font-family: circular_bold;
	src: url(map-get($circular, bold));
} 

@font-face{
	font-family: circular_book;
	src: url(map-get($circular, book));
} 

@font-face{
	font-family: circular_medium;
	src: url(map-get($circular, medium));
} 



/*--------------------------------------------COLORS*/
/* BASICS */
$white: #F5F6F7;
$black: #28282D;
$gray: #ABA7A3;

/* PRINCIPAL Colors*/
$green:#42F475;  //-- call to action
$yellow:#E6EA59; //-- offer 
$register:#5151F4; //-- register

/* OVERS */
$green_over:#2FAF52;
$yellow_over:#A2A43E;
$register_text:#1D1D57;

/* Secondary Colors */
$badass: #bada55;
$white: #F5F6F7;


/* blacks */

$green-black:#08332C;

/* Secciones */
$casos:#B9F6F9;


/*------------------------------------------Elemental Styles*/
body { 
	font-family: circular_book;
  margin: 0px;
  padding: 0px; 
  background-color: $badass; 
}

strong{
	font-family: circular_black;
}

li{
	display: inherit;
}
a {
    color: inherit;
}
	a:hover, a:active, a:focus{
	 		text-decoration: none !important;
	 		color: inherit;
	 		opacity: .5;
	 	}


h1{
	font-family: circular_bold;
	padding-left: 15px !important;
}

#map{
	cursor: pointer;
}

.upper{
	text-transform: uppercase;
}
 /* GENERAL CONTAINERS INDEX */
	/* ------------------ ----------------- ----------------- ----------------- TOP MENU */	
	 #top-container{ 
	 }	
		 .navbar-right {
		    margin-right: 0px !important;
		    height: 55px; 
			}
		 .navbar-nav>li>a {
		    padding-top: 16px;
		    padding-bottom: 15px;
		    min-height: 80px;
		    letter-spacing: 1px;
		    }
		 .navbar-default{
			color: $white;
		 }
		 .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
			 }
		.logo img{
			    height: 59px;
	    		margin-top: -17px;
		}

		.navbar-header{
		}
		.navbar-toggle{
			border: 0px;
			margin-top: 20px;
		}
		#map_btn{
		}
		
		#map_btn :hover{
			background-color: $green_over;
		}

		#map_btn img{
			cursor: pointer;
			padding-top: 11px;
			padding-bottom: 9px;
			background-color:$green;
			padding-left: 10px;
			padding-right: 10px;
			height: 52px;
			border-radius: 29px;

		}

	/* ------------------  */
	/* ------------------------------------------------------------------------ HOME CONTAINER */	

	 #home-container{  
		padding-top:120px;
		height: 100vh;
		background-color: $black;
		background-image: url("../images/map.png");
		background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
		background-blend-mode: multiply;
	 }
	 .form-control{
				border: 0px;
				font-size: 20px;
				}


		.call_to_action{
			font-family: circular_black;
			font-size: 60px;
			color: $white;
			letter-spacing: 1px;
			text-align: center;
			padding-top: 10%;	
		}
		.first_phrase{

		}

		.second_phrase{
			font-size: 33px;
		}
		
		.btns_home{
		margin-top: 40px;	
		}

		.form-home{
			height: 65px;
			border-radius: 8px;
		}
		.input-group-addon{
			border: 0px;
			border-radius: 8px;
			padding: 6px 20px;
    		font-size: 24px;
		}
			.need{
				background-color: $green;
				color: $green_over;
			}
			.offer{
				background-color: $yellow;
				color: $yellow_over;

			}
		.btns_home{
			.col-md-6{
				margin-top: 30px;
			}
		}
		
		#ofrezco, #necesito{
			cursor: pointer;
		}
	/* ------------------  */
	/* ----------------------------------------------------------------------- BENEFITS CONTAINER */

	/*-----------COLORS 4 THIS SECTION*/
	
		$aqua:#33AA96;
		$aqua_1:#43C9B5;
		$aqua_2:#3FBCA7;
		$aqua_3:#39B79F;
		$text_dark:#0D4239;


	/*-------*/	

	 .benefits-container{
	 	background-color: $aqua;
	 	.col-md-4{
	 		padding-left:40px;
	 		padding-right:40px;
	 	}
		.title{
			position: relative;
			top: -90px;
			font-size: 40px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 20px;
			background-color: $aqua;
			color: $white;
		}

		h1{
			margin:0px;
			padding: 0px;
			font-family: circular_black;
			padding-bottom: 30px;
		}

		li{
			font-size: 20px;
		}
		img{
			height: 100px;
			margin-bottom: 30px;
		}

		 }
		.projects, .business, .individual{
			padding-top: 40px;
			min-height:560px;
		}

		 .projects{
		 	background-color: $aqua_1;
		 }
		 .business{
		 	background-color: $aqua_2;
		 }
		.individual{
		 	background-color: $aqua_3;
		 }
		.btn_registrate{
			z-index: 100;
		    background-color: $register;
		    color: $register_text;
		    border: 0px;
		    padding: 15px;
		    border-radius: 6px;
		}
		.arrow{
			position: absolute;
			left: 40%;
            bottom: -119px;
            z-index: 1;
		}
		
		.colaborar{
			min-height: 100px;
			background-color: #EDFCF9;
			text-align: center;
			z-index: -1;
			padding-top: 190px;
			padding-bottom: 40px;
			color: $text_dark;
			p{	
				font-size: 19px;
			}
			
			
		}

		.icn_colab{
				position: relative;
				top: -15px;
				text-align: center;
				height: 0px;

				img{
				
				position: relative;
				height: 200px;
				
				}

			}
	/* ------------------  */
	/* ----------------------------------------------------------------------- BENEFITS CONTAINER */
	/*-----------COLORS 4 THIS SECTION*/
	
		
		$perl:#F7F7F7;
		$b_perl:#E2E2E2;


	/*-------*/	
	 .category-40ways{
		
		

	 	.left, .right{
	 		
			position: relative;
			min-height: 500px;
			padding-top: 30px;
			padding-bottom: 30px;
	 	} 

	 	.left{
			background-color: $perl;
			
	 	}
	 	.right{
	 		background-color: $b_perl;
	 		text-align: right;
			

	 	}


	 }

	 .circle{
	 		margin-top: 15px;
	 	    height: 10px;
		    width: 10px;
		    background-color: $gray;
		    border-radius: 5px;
	 }

	 .circles_right{
		float: right;
	 }
	
	.circle_active{
		background-color: $green;
	}
	
	.counter_benefits{
		padding-left: 15px;
	}


	/* ------------------  */
	/* ----------------------------------------------------------------------- Casos CONTAINER */

	 .casos-container{
	 	
	 	background-color: $casos;
	 	padding-top: 30px;
	 	padding-bottom: 30px;

	 	h1{
			padding-bottom: 20px;
	 	}

	 }

	 .casos{
	 	.foto_project{
	 		background-color: black;
	 		height: 236px;
	 		border-radius: 10px 10px 0px 0px;
	 	}
	 	.texto_project{
			background-color: $white;
			padding: 35px;
			padding-top: 40px;
			border-radius: 0px 0px 10px 10px;
			font-size: 18px;
			
	 	}
	 	.col-md-4{
	 		
	 		padding-bottom: 5px;
	 		
	 	}

	 	.sign{
	 		font-size: 22px;
	 		padding-top: 20px;
	 	}

	 	.brand{
	 		color: $green;
	 	}
	 }

		.project_options{
			display: flex;
			.circle{
				margin: 20px;
			}
		}

	/* ------------------  */
	/* ----------------------------------------------------------------------- WE- CONTAINER */

	
	 .we-container{

	 	padding-top: 30px;
	 	padding-bottom: 30px;
		background-color: $white;

		.frase{
			padding-top: 70px;
			padding-bottom: 50px;
		}


	 }

	 	.foto_we{
	 		height: 600px;
	 		border-radius:10px;
	 		background-color: $black;
	 			background-image: url(../images/equipo.jpg);

			background-repeat: no-repeat;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;

	 	}


	 /* ------------------  */
	 /* ----------------------------------------------------------------------- FOOTER */

	 .footer-container{
	 	
	 	padding-top: 60px;
	 	padding-bottom: 60px;
		color: $white;
	 	background-color: $black;

	 	li, p{
	 		padding-bottom: 15px;
	 		padding-top: 15px;
	 	}

	 	

	 }

	 .redes, .links, .datos_contacto{
	 	min-height: 100px	;	
	 }

	 .redes{
	 	font-size: 15px;
	 }

	 .links, .datos_contacto{
	 	border-right: 1px solid $white;
	 }
	 .logo_footer img{
	 	width: 45%;
	 }
	 .facebook {
		color: #134DDA;
	 }
	 .twitter {
		color: #2AB1E8;
	 }
	 .github {
	 	color: $white;

	 }
	 .facebook, .twitter, .github{
		margin-left: 31px;
	 }
	 .map_footer{
	 	background-color: $black;
	 	background-image: url("../images/map.png");
	 	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
		background-blend-mode: multiply;
	 	padding-top: 30px;
	 	padding-bottom: 30px;
	 }

	#map:hover{
	 	background-color: $green;
	 	
	 }

 /* ----------------------------------------------  MEDIAS */
 
@media(max-width: 992px){
	
	.no_mobile{
		display: none;
	}

	.benefits-container .text-center{
		text-align: right;
	}

		.redes, .links, .datos_contacto{
		text-align: center !important;
		border: 0px;

	}

	.footer-container img{
		height: 100px;
		padding-top: 30px;
	}

	
}

@media(max-width: 762px){
	
	#map_btn img{
		width: 100vh;
		height: 80px;
	}
	

	
}


// ########################################################################################################################################
// MAP ELEMENTS

.top-bar-map{
	background-color: $white;
}
 
.logo_map img{
	height: 70px;	
}


 
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 500px;	
}



 
#map_btn{	
}




 
#map_btn{
	height: 55px;
	margin-top: 2px;	
}